<div class="container">
<h1>File Uploader</h1>

<form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
  <h2>Select a file to upload:</h2>
  <div class="upload-container"><input id="file-picker" type="file" name="image"></div>
  <div><input type="submit" value="Upload Image"></div>
</form>

<p id="message">{{message}}</p>



<hr>
<p>This app has no official privacy policy. Your files will be accessable by your security team once you upload them and there is no automated way to remove them.</p>
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {

    const message = document.getElementById('message');
    const picker = document.getElementById('file-picker');

    document.getElementById('upload-form').addEventListener('submit', (e) => {

      message.innerText = '';

      if(!picker.files.length) {
        message.innerText = 'Please select an file to upload.';
        e.preventDefault();
        return false;
      }
    });

  });
</script>